body {
  background-color: rgb(90, 120, 110);
  display: flex;
  justify-content: center;
}

button {
  height: 3rem;
  width: 5rem;
  background-color: rgb(195, 142, 245);
  border: none;
  font-weight: 700;
}

.wrapper {
  height: 500px;
  width: 500px;
  background-color: antiquewhite;
  border: solid 2px rgb(157, 51, 255);
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  position: absolute;
}
